@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 14% 96%;
    --foreground: 240 6% 10%;

    --card: 240 14% 96%;
    --card-foreground: 240 6% 10%;

    --popover: 240 14% 96%;
    --popover-foreground: 240 6% 10%;

    --primary: 270 50% 40%;
    --primary-foreground: 270 50% 98%;

    --secondary: 240 5% 90%;
    --secondary-foreground: 240 6% 10%;

    --muted: 240 5% 90%;
    --muted-foreground: 240 4% 46%;

    --accent: 275 41% 50%;
    --accent-foreground: 275 41% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 6% 88%;
    --input: 240 6% 88%;
    --ring: 275 41% 50%;

    --radius: 0.5rem;

    --chart-1: 270 50% 40%;
    --chart-2: 275 41% 50%;
    --chart-3: 270 50% 60%;
    --chart-4: 275 41% 70%;
    --chart-5: 270 50% 80%;
  }

  .dark {
    --background: 240 6% 10%;
    --foreground: 240 5% 95%;

    --card: 240 6% 10%;
    --card-foreground: 240 5% 95%;

    --popover: 240 6% 10%;
    --popover-foreground: 240 5% 95%;

    --primary: 270 50% 50%;
    --primary-foreground: 270 50% 98%;

    --secondary: 240 4% 16%;
    --secondary-foreground: 240 5% 95%;

    --muted: 240 4% 16%;
    --muted-foreground: 240 4% 65%;

    --accent: 275 41% 60%;
    --accent-foreground: 275 41% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 4% 16%;
    --input: 240 4% 16%;
    --ring: 275 41% 60%;

    --chart-1: 270 50% 50%;
    --chart-2: 275 41% 60%;
    --chart-3: 270 50% 70%;
    --chart-4: 275 41% 80%;
    --chart-5: 270 50% 90%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
